# Missing value treatement

In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
testing_dataset=pd.read_csv("test_lAUu6dG.csv") 
training_dataset=pd.read_csv("train_ctrUa4K.csv")
training_dataset_orig=training_dataset.copy()
testing_dataset_orig=testing_dataset.copy()

In [6]:
training_dataset.columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status'],
      dtype='object')

In [7]:
training_dataset['Credit_History']=np.where((training_dataset['Credit_History'].isnull()) & (training_dataset['Loan_Status']=='Y'),1,training_dataset['Credit_History'])
training_dataset['Credit_History']=np.where((training_dataset['Credit_History'].isnull()) & (training_dataset['Loan_Status']=='N'),0,training_dataset['Credit_History'])

In [8]:
testing_dataset.loc[(testing_dataset['Married'].isnull()) & (testing_dataset['CoapplicantIncome']==0), 'Married'] = 'No'
testing_dataset.loc[(testing_dataset['Married'].isnull()), 'Married'] = 'Yes'

a=((testing_dataset['Gender'].isnull()) & (testing_dataset['Married']=='Yes') & (testing_dataset['ApplicantIncome']>testing_dataset['CoapplicantIncome']))
testing_dataset.loc[a, 'Gender'] = 'Male'
testing_dataset.loc[testing_dataset['Gender'].isnull(),'Gender'] = 'Female'

In [9]:
training_dataset.loc[(training_dataset['Married'].isnull()) & (training_dataset['CoapplicantIncome']==0), 'Married'] = 'No'
training_dataset.loc[(training_dataset['Married'].isnull()), 'Married'] = 'Yes'

a=((training_dataset['Gender'].isnull()) & (training_dataset['Married']=='Yes') & (training_dataset['ApplicantIncome']>training_dataset['CoapplicantIncome']))
training_dataset.loc[a, 'Gender'] = 'Male'
training_dataset.loc[training_dataset['Gender'].isnull(),'Gender'] = 'Female'

In [10]:
training_dataset['Gender'].fillna(training_dataset['Gender'].mode()[0], inplace=True) 
training_dataset['Married'].fillna(training_dataset['Married'].mode()[0], inplace=True) 
training_dataset['Dependents'].fillna(training_dataset['Dependents'].mode()[0], inplace=True) 
training_dataset['Self_Employed'].fillna(training_dataset['Self_Employed'].mode()[0], inplace=True)
training_dataset['Credit_History'].fillna(training_dataset['Credit_History'].mode()[0], inplace=True)
training_dataset['Loan_Amount_Term'].fillna(training_dataset['Loan_Amount_Term'].mode()[0], inplace=True)
training_dataset['LoanAmount'].fillna(training_dataset['LoanAmount'].median(), inplace=True)

In [11]:
testing_dataset['Gender'].fillna(testing_dataset['Gender'].mode()[0], inplace=True) 
testing_dataset['Married'].fillna(testing_dataset['Married'].mode()[0], inplace=True) 
testing_dataset['Dependents'].fillna(testing_dataset['Dependents'].mode()[0], inplace=True) 
testing_dataset['Self_Employed'].fillna(testing_dataset['Self_Employed'].mode()[0], inplace=True)
testing_dataset['Credit_History'].fillna(testing_dataset['Credit_History'].mode()[0], inplace=True) 
testing_dataset['Loan_Amount_Term'].fillna(testing_dataset['Loan_Amount_Term'].mode()[0], inplace=True) 
testing_dataset['LoanAmount'].fillna(testing_dataset['LoanAmount'].median(), inplace=True)

In [12]:
training_dataset['LoanAmount_log'] = np.log(training_dataset['LoanAmount']) 
testing_dataset['LoanAmount_log'] = np.log(testing_dataset['LoanAmount'])

In [13]:
#matrix = training_dataset.corr() 
#f, ax = plt.subplots(figsize=(9, 6)) 
#sns.heatmap(matrix, vmax=.8, square=True, cmap="BuPu");

In [14]:
training_dataset['Dependents'].replace('3+', 3,inplace=True) 
testing_dataset['Dependents'].replace('3+', 3,inplace=True) 
training_dataset['Loan_Status'].replace('N', 0,inplace=True) 
training_dataset['Loan_Status'].replace('Y', 1,inplace=True)

In [15]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
training_dataset['Education']=le.fit_transform(training_dataset['Education'])
training_dataset['Gender']=le.fit_transform(training_dataset['Gender'])
training_dataset['Married']=le.fit_transform(training_dataset['Married'])
training_dataset['Property_Area']=le.fit_transform(training_dataset['Property_Area'])
training_dataset['Self_Employed']=le.fit_transform(training_dataset['Self_Employed'])
testing_dataset['Education']=le.fit_transform(testing_dataset['Education'])
testing_dataset['Married']=le.fit_transform(testing_dataset['Married'])
testing_dataset['Property_Area']=le.fit_transform(testing_dataset['Property_Area'])
testing_dataset['Self_Employed']=le.fit_transform(testing_dataset['Self_Employed'])
testing_dataset['Gender']=le.fit_transform(testing_dataset['Gender'])

In [16]:
training_dataset['Dependents']=training_dataset['Dependents'].astype(int)
testing_dataset['Dependents']=testing_dataset['Dependents'].astype(int)

In [17]:
training_dataset.head(20)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status,LoanAmount_log
0,LP001002,1,0,0,0,0,5849,0.0,128.0,360.0,1.0,2,1,4.852030
1,LP001003,1,1,1,0,0,4583,1508.0,128.0,360.0,1.0,0,0,4.852030
2,LP001005,1,1,0,0,1,3000,0.0,66.0,360.0,1.0,2,1,4.189655
3,LP001006,1,1,0,1,0,2583,2358.0,120.0,360.0,1.0,2,1,4.787492
4,LP001008,1,0,0,0,0,6000,0.0,141.0,360.0,1.0,2,1,4.948760
5,LP001011,1,1,2,0,1,5417,4196.0,267.0,360.0,1.0,2,1,5.587249
6,LP001013,1,1,0,1,0,2333,1516.0,95.0,360.0,1.0,2,1,4.553877
7,LP001014,1,1,3,0,0,3036,2504.0,158.0,360.0,0.0,1,0,5.062595
8,LP001018,1,1,2,0,0,4006,1526.0,168.0,360.0,1.0,2,1,5.123964
9,LP001020,1,1,1,0,0,12841,10968.0,349.0,360.0,1.0,1,0,5.855072
10,LP001024,1,1,2,0,0,3200,700.0,70.0,360.0,1.0,2,1,4.248495
11,LP001027,1,1,2,0,0,2500,1840.0,109.0,360.0,1.0,2,1,4.691348
12,LP001028,1,1,2,0,0,3073,8106.0,200.0,360.0,1.0,2,1,5.298317
13,LP001029,1,0,0,0,0,1853,2840.0,114.0,360.0,1.0,0,0,4.736198
14,LP001030,1,1,2,0,0,1299,1086.0,17.0,120.0,1.0,2,1,2.833213
15,LP001032,1,0,0,0,0,4950,0.0,125.0,360.0,1.0,2,1,4.828314
16,LP001034,1,0,1,1,0,3596,0.0,100.0,240.0,1.0,2,1,4.605170
17,LP001036,0,0,0,0,0,3510,0.0,76.0,360.0,0.0,2,0,4.330733
18,LP001038,1,1,0,1,0,4887,0.0,133.0,360.0,1.0,0,0,4.890349
19,LP001041,1,1,0,0,0,2600,3500.0,115.0,360.0,1.0,2,1,4.744932

In [19]:
training_dataset_orig.head(20)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
5,LP001011,Male,Yes,2,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,Urban,Y
6,LP001013,Male,Yes,0,Not Graduate,No,2333,1516.0,95.0,360.0,1.0,Urban,Y
7,LP001014,Male,Yes,3+,Graduate,No,3036,2504.0,158.0,360.0,0.0,Semiurban,N
8,LP001018,Male,Yes,2,Graduate,No,4006,1526.0,168.0,360.0,1.0,Urban,Y
9,LP001020,Male,Yes,1,Graduate,No,12841,10968.0,349.0,360.0,1.0,Semiurban,N
10,LP001024,Male,Yes,2,Graduate,No,3200,700.0,70.0,360.0,1.0,Urban,Y
11,LP001027,Male,Yes,2,Graduate,NaN,2500,1840.0,109.0,360.0,1.0,Urban,Y
12,LP001028,Male,Yes,2,Graduate,No,3073,8106.0,200.0,360.0,1.0,Urban,Y
13,LP001029,Male,No,0,Graduate,No,1853,2840.0,114.0,360.0,1.0,Rural,N
14,LP001030,Male,Yes,2,Graduate,No,1299,1086.0,17.0,120.0,1.0,Urban,Y
15,LP001032,Male,No,0,Graduate,No,4950,0.0,125.0,360.0,1.0,Urban,Y
16,LP001034,Male,No,1,Not Graduate,No,3596,0.0,100.0,240.0,NaN,Urban,Y
17,LP001036,Female,No,0,Graduate,No,3510,0.0,76.0,360.0,0.0,Urban,N
18,LP001038,Male,Yes,0,Not Graduate,No,4887,0.0,133.0,360.0,1.0,Rural,N
19,LP001041,Male,Yes,0,Graduate,NaN,2600,3500.0,115.0,NaN,1.0,Urban,Y

In [20]:
training_dataset.dtypes

Loan_ID               object
Gender                 int32
Married                int32
Dependents             int32
Education              int32
Self_Employed          int32
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area          int32
Loan_Status            int64
LoanAmount_log       float64
dtype: object

In [21]:
testing_dataset.dtypes

Loan_ID               object
Gender                 int32
Married                int32
Dependents             int32
Education              int32
Self_Employed          int32
ApplicantIncome        int64
CoapplicantIncome      int64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area          int32
LoanAmount_log       float64
dtype: object

In [22]:
training_dataset.shape

(614, 14)

In [23]:
testing_dataset.shape

(367, 13)

In [24]:
training_dataset['TotalIncome']=training_dataset['ApplicantIncome']+training_dataset['CoapplicantIncome']
training_dataset['Loan/Income']=training_dataset['LoanAmount']/training_dataset['TotalIncome']
training_dataset['Loan/Term']=training_dataset['LoanAmount']/training_dataset['Loan_Amount_Term']
training_dataset['RepaymentRatio']=(training_dataset['Loan/Term']*1000)/training_dataset['TotalIncome']

In [25]:
testing_dataset['TotalIncome']=testing_dataset['ApplicantIncome']+testing_dataset['CoapplicantIncome']
testing_dataset['Loan/Income']=testing_dataset['LoanAmount']/testing_dataset['TotalIncome']
testing_dataset['Loan/Term']=testing_dataset['LoanAmount']/testing_dataset['Loan_Amount_Term']
testing_dataset['RepaymentRatio']=(testing_dataset['Loan/Term']*1000)/testing_dataset['TotalIncome']

In [26]:
testing_dataset.head(4)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,LoanAmount_log,TotalIncome,Loan/Income,Loan/Term,RepaymentRatio
0,LP001015,1,1,0,0,0,5720,0,110.0,360.0,1.0,2,4.700480,5720,0.019231,0.305556,0.053419
1,LP001022,1,1,1,0,0,3076,1500,126.0,360.0,1.0,2,4.836282,4576,0.027535,0.350000,0.076486
2,LP001031,1,1,2,0,0,5000,1800,208.0,360.0,1.0,2,5.337538,6800,0.030588,0.577778,0.084967
3,LP001035,1,1,2,0,0,2340,2546,100.0,360.0,1.0,2,4.605170,4886,0.020467,0.277778,0.056852

# Machine Learning:

In [76]:
#drop loan id
training_dataset=training_dataset.drop('Loan_ID',axis=1) 
testing_dataset=testing_dataset.drop('Loan_ID',axis=1)
w=testing_dataset.copy()
X = training_dataset.drop('Loan_Status',1)
y = training_dataset.Loan_Status

KeyError: "['Loan_ID'] not found in axis"

In [30]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression 
from sklearn.metrics import accuracy_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix, accuracy_score

In [77]:
X.head(2)

AttributeError: 'numpy.ndarray' object has no attribute 'head'

In [32]:
X.to_csv('converted_dataset.csv')

In [92]:
#ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [0])], remainder='passthrough')
#X=np.array(ct.fit_transform(X))
#ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [0])], remainder='passthrough')
#w=np.array(ct.fit_transform(w))
sc = StandardScaler()
X = sc.fit_transform(X)
w = sc.transform(w)

In [98]:
from joblib import dump, load
dump(sc, 'std_scaler.bin', compress=True)

['std_scaler.bin']

In [99]:
sc=load('std_scaler.bin')
sc.mean_

array([-2.60378038e-17,  5.78617863e-18,  2.31447145e-17,  1.73585359e-17,
       -2.60378038e-17,  1.44654466e-18,  8.67926794e-18, -2.89308931e-18,
        1.30189019e-17, -7.23272329e-18, -3.47170718e-17, -5.78617863e-18,
        2.89308931e-18,  4.33963397e-18,  0.00000000e+00,  2.89308931e-18])

In [97]:
sc.mean_

array([-2.60378038e-17,  5.78617863e-18,  2.31447145e-17,  1.73585359e-17,
       -2.60378038e-17,  1.44654466e-18,  8.67926794e-18, -2.89308931e-18,
        1.30189019e-17, -7.23272329e-18, -3.47170718e-17, -5.78617863e-18,
        2.89308931e-18,  4.33963397e-18,  0.00000000e+00,  2.89308931e-18])

In [83]:
X[0]

array([ 0.48519323, -1.36228263, -0.73780632, -0.52836225, -0.39260074,
        0.07299082, -0.55448733, -0.21124125,  0.2732313 ,  0.44633928,
        1.22329839, -0.01053273, -0.18218376, -0.22904466, -0.23130483,
       -0.21027598])

In [35]:
for x in X.columns:
    print(x+ '=req.get("' + x + '")')

AttributeError: 'numpy.ndarray' object has no attribute 'columns'

In [84]:
#training_dataset and testing_dataset split
x_training_dataset, x_cv, y_training_dataset, y_cv = train_test_split(X,y, test_size =0.3)

In [85]:
#logistic regression
model = LogisticRegression(random_state = 0,class_weight='balanced') 
model.fit(x_training_dataset, y_training_dataset)
pred_cv = model.predict(x_cv)
#cm = confusion_matrix(y_cv,pred_cv)
#print(cm)
#accuracy_score(y_cv,pred_cv)
accuracies = cross_val_score(estimator = model, X = x_training_dataset, y = y_training_dataset, cv = 10)
print("Accuracy: {:.2f} %".format(accuracies.mean()*100))
print("Standard Deviation: {:.2f} %".format(accuracies.std()*100))

Accuracy: 79.96 %
Standard Deviation: 4.41 %

In [86]:
#knn

classifiera = KNeighborsClassifier(n_neighbors = 10, metric = 'minkowski', p = 2)
classifiera.fit(x_training_dataset, y_training_dataset)
pred_cv = classifiera.predict(x_cv)
#from sklearn.metrics import confusion_matrix, accuracy_score
accuracies = cross_val_score(estimator = classifiera, X = x_training_dataset, y = y_training_dataset, cv = 10)
print("Accuracy: {:.2f} %".format(accuracies.mean()*100))
print("Standard Deviation: {:.2f} %".format(accuracies.std()*100))

Accuracy: 83.21 %
Standard Deviation: 4.19 %

In [87]:
#random forest
parameters = {'bootstrap': False,
              'min_samples_leaf': 3,
              'n_estimators': 50,
              'min_samples_split': 10,
              'max_features': 'sqrt',
              'max_depth': 6}

classifierb= RandomForestClassifier(**parameters)
#classifierb = RandomForestClassifier(n_estimators = 50, criterion = 'entropy', random_state = 0,max_features='sqrt')
classifierb.fit(x_training_dataset, y_training_dataset)
pred_cv = classifierb.predict(x_cv)

accuracies = cross_val_score(estimator = classifierb, X = x_training_dataset, y = y_training_dataset, cv = 10)
print("Accuracy: {:.2f} %".format(accuracies.mean()*100))
print("Standard Deviation: {:.2f} %".format(accuracies.std()*100))

Accuracy: 82.04 %
Standard Deviation: 4.49 %

In [88]:
#svm
from sklearn.svm import SVC
classifierc = SVC(kernel = 'linear', random_state = 0)
classifierc.fit(x_training_dataset, y_training_dataset)
pred_cv = classifierc.predict(x_cv)
from sklearn.metrics import confusion_matrix, accuracy_score
accuracies = cross_val_score(estimator = classifierc, X = x_training_dataset, y = y_training_dataset, cv = 10)
print("Accuracy: {:.2f} %".format(accuracies.mean()*100))
print("Standard Deviation: {:.2f} %".format(accuracies.std()*100))

Accuracy: 83.44 %
Standard Deviation: 4.97 %

In [89]:
#kernel svm
from sklearn.svm import SVC
classifierd = SVC(kernel = 'rbf', random_state = 0)
classifierd.fit(x_training_dataset, y_training_dataset)
pred_cv = classifierd.predict(x_cv)
from sklearn.metrics import confusion_matrix, accuracy_score
accuracies = cross_val_score(estimator = classifierd, X = x_training_dataset, y = y_training_dataset, cv = 10)
print("Accuracy: {:.2f} %".format(accuracies.mean()*100))
print("Standard Deviation: {:.2f} %".format(accuracies.std()*100))

Accuracy: 83.20 %
Standard Deviation: 4.82 %

In [90]:
#naive bayes
from sklearn.naive_bayes import GaussianNB
classifiere = GaussianNB()
classifiere.fit(x_training_dataset, y_training_dataset)
pred_cv = classifiere.predict(x_cv)
from sklearn.metrics import confusion_matrix, accuracy_score
accuracies = cross_val_score(estimator = classifiere, X = x_training_dataset, y = y_training_dataset, cv = 10)
print("Accuracy: {:.2f} %".format(accuracies.mean()*100))
print("Standard Deviation: {:.2f} %".format(accuracies.std()*100))

Accuracy: 83.91 %
Standard Deviation: 4.49 %

In [91]:
#decision tree
from sklearn.tree import DecisionTreeClassifier
classifier = DecisionTreeClassifier(criterion = 'entropy', random_state = 0)
classifier.fit(x_training_dataset, y_training_dataset)
pred_cv = classifier.predict(x_cv)
from sklearn.metrics import confusion_matrix, accuracy_score
accuracies = cross_val_score(estimator = classifier, X = x_training_dataset, y = y_training_dataset, cv = 10)
print("Accuracy: {:.2f} %".format(accuracies.mean()*100))
print("Standard Deviation: {:.2f} %".format(accuracies.std()*100))

Accuracy: 78.08 %
Standard Deviation: 6.77 %

In [46]:
pred_testing_dataset1 = classifiera.predict(w)#knn
pred_testing_dataset2 = classifierb.predict(w)#random forest
pred_testing_dataset3 = classifierc.predict(w)#svm
pred_testing_dataset4 = classifierd.predict(w)#kernel svm
pred_testing_dataset5 = classifiere.predict(w)#naive bayes
pred_testing_dataset6 = model.predict(w)#logistic

In [66]:
submission=pd.read_csv("sample_submission_49d68Cx.csv")

In [49]:
X.columns

AttributeError: 'numpy.ndarray' object has no attribute 'columns'

In [75]:
testing_dataset_orig.head(10)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban
5,LP001054,Male,Yes,0,Not Graduate,Yes,2165,3422,152.0,360.0,1.0,Urban
6,LP001055,Female,No,1,Not Graduate,No,2226,0,59.0,360.0,1.0,Semiurban
7,LP001056,Male,Yes,2,Not Graduate,No,3881,0,147.0,360.0,0.0,Rural
8,LP001059,Male,Yes,2,Graduate,NaN,13633,0,280.0,240.0,1.0,Urban
9,LP001067,Male,No,0,Not Graduate,No,2400,2400,123.0,360.0,1.0,Semiurban

In [64]:
submission['Loan_Status']=pred_testing_dataset1

In [65]:
submission.head(10)

    Loan_ID  Loan_Status
0  LP001015            1
1  LP001022            1
2  LP001031            1
3  LP001035            1
4  LP001051            1
5  LP001054            1
6  LP001055            1
7  LP001056            0
8  LP001059            1
9  LP001067            1

In [62]:
pred_testing_dataset1[:10]

array([1, 1, 1, 1, 1, 1, 1, 0, 1, 1], dtype=int64)

In [35]:
submission['Loan_Status']=pred_testing_dataset1 
submission['Loan_ID']=testing_dataset_orig['Loan_ID']
submission['Loan_Status'].replace(0, 'N',inplace=True) 
submission['Loan_Status'].replace(1, 'Y',inplace=True)
pd.DataFrame(submission, columns=['Loan_ID','Loan_Status']).to_csv('knn.csv')

In [48]:
submission['Loan_Status']=pred_testing_dataset2 
submission['Loan_ID']=testing_dataset_orig['Loan_ID']
submission['Loan_Status'].replace(0, 'N',inplace=True) 
submission['Loan_Status'].replace(1, 'Y',inplace=True)
pd.DataFrame(submission, columns=['Loan_ID','Loan_Status']).to_csv('rf.csv')

In [49]:
submission['Loan_Status']=pred_testing_dataset3
submission['Loan_ID']=testing_dataset_orig['Loan_ID']
submission['Loan_Status'].replace(0, 'N',inplace=True) 
submission['Loan_Status'].replace(1, 'Y',inplace=True)
pd.DataFrame(submission, columns=['Loan_ID','Loan_Status']).to_csv('svm.csv')

In [50]:
submission['Loan_Status']=pred_testing_dataset4 
submission['Loan_ID']=testing_dataset_orig['Loan_ID']
submission['Loan_Status'].replace(0, 'N',inplace=True) 
submission['Loan_Status'].replace(1, 'Y',inplace=True)
pd.DataFrame(submission, columns=['Loan_ID','Loan_Status']).to_csv('ksvm.csv')

In [51]:
submission['Loan_Status']=pred_testing_dataset5 
submission['Loan_ID']=testing_dataset_orig['Loan_ID']
submission['Loan_Status'].replace(0, 'N',inplace=True) 
submission['Loan_Status'].replace(1, 'Y',inplace=True)
pd.DataFrame(submission, columns=['Loan_ID','Loan_Status']).to_csv('naive_b.csv')

In [52]:
submission['Loan_Status']=pred_testing_dataset6 
submission['Loan_ID']=testing_dataset_orig['Loan_ID']
submission['Loan_Status'].replace(0, 'N',inplace=True) 
submission['Loan_Status'].replace(1, 'Y',inplace=True)
pd.DataFrame(submission, columns=['Loan_ID','Loan_Status']).to_csv('log.csv')

In [33]:
import pickle

pickle.dump(classifiera, open('knnModel.pkl','wb'))